/* body 전체 배경을 어두운 색으로 변경 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #181818; /* 어두운 배경 */
  color: #fff; /* 전체 텍스트를 밝은 색으로 */
  overflow: scroll;
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

/* Header 스타일링 */
.header {
  position: sticky;
  top: 0;
  background-color: #121212; /* 더 어두운 배경 */
  padding: 10px 20px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #333;
  z-index: 1000; /* 항상 최상단에 위치하도록 */
}

.header.scrolled {
  background-color: rgba(0, 0, 0, 0.5); /* 스크롤 후 반투명 배경 */
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.hfont {
  color:#ccc;
}

.logo {
  font-size: 1.5rem;
  color: #e50914; /* 넷플릭스 스타일의 빨간색 */
  font-weight: bold;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #e50914;
}

.profile-icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s;
}

.profile-icon:hover {
  transform: scale(1.1);
}

/* 홈 콘텐츠 영역 */
.home-content {
  padding: 1rem;
}

/* 영화 리스트 스타일링 */
.movie-list {
  margin: 2rem 0;
  padding: 0 30px; /* 좌우 공백 추가 */
}

.movie-list h2 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #fff; /* 제목도 밝은 색으로 */
}

/* 영화 그리드 */
.movies-grid-container {
  display: flex;
  position: relative; /* 화살표의 위치를 그리드 밖에 두기 위해 */
  overflow: hidden; /* 처음에는 스크롤을 숨김 */
  cursor: pointer;
  width: 100%;
}


/* 영화 그리드 스타일링 */
.movies-grid {
  display: flex;
  gap: 20px; /* 카드 간의 간격 */
  overflow-x: scroll;
  overflow: hidden;
  padding-bottom: 20px; /* 스크롤이 있을 때 아래 여백 */
  transition: transform 0.3s ease; /* 부드러운 스크롤 애니메이션 */
}

/* 영화 카드 */
.movie-card {
  flex-shrink: 0; /* 카드가 축소되지 않도록 설정 */
  width: 180px; /* 카드의 고정 크기 (원하는 크기로 설정 가능) */
  height: auto; /* 높이는 자동 */
  background-color: #2c2c2c; /* 어두운 카드 배경 */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 더 부드러운 그림자 */
  transition: transform 0.3s;
  gap: 5px;
}

.wishlist-movie-card {
  flex-shrink: 0; /* 카드가 축소되지 않도록 설정 */
  width: 180px; /* 카드의 고정 크기 (원하는 크기로 설정 가능) */
  height: auto; /* 높이는 자동 */
  background-color: #ffffff; /* 어두운 카드 배경 */
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* 더 부드러운 그림자 */
  transition: transform 0.3s;
  gap: 5px;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  height: 60%;
}

.movie-info {
  padding: 1rem;
}

.movie-title {
  font-size: 1.2rem;
  margin: 0 0 0.5rem;
  color: #ffffff; /* 제목 텍스트 색상 */
}

.wishlist-movie-title {
  font-size: 1.2rem;
  margin: 0 0 0.5rem;
  color: #181818; /* 제목 텍스트 색상 */
}

.movie-overview {
  font-size: 0.9rem;
  color: #ddd; /* 밝은 회색 텍스트 */
  margin: 0 0 1rem;
}

.movie-details,
.movie-genres {
  font-size: 0.8rem;
  color: #aaa; /* 연한 회색으로 세부사항 텍스트 */
}

/* 화살표 스타일 */
.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
  color: #fff;
  font-size: 2rem;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  transition: opacity 0.3s ease;
  opacity: 0; /* 기본적으로 숨김 */
  visibility: hidden; /* 화살표가 기본적으로 보이지 않게 */
}

/* 좌측 화살표 */
.arrow-left {
  left: 10px;
}

/* 우측 화살표 */
.arrow-right {
  right: 10px;
}

/* 마우스가 그리드 위에 있을 때 화살표 보이기 */
.movies-grid-container:hover .arrow-btn {
  opacity: 1;
  visibility: visible;
}

/* 화살표 클릭 시 크기 확대 */
.arrow-btn:hover {
  transform: scale(1.2) translateY(-50%);
}


/* 홈페이지 및 찜하기 버튼 */
.wishlist-btn {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 10px;
  transition: color 0.3s;
}

.wishlist-btn:hover {
  color: #e50914; /* 마우스를 올리면 빨간색으로 변경 */
}

.wishlist-btn.wished {
  color: #e50914; /* 찜한 경우 빨간색 하트 표시 */
}

/* 찜하기 페이지 스타일 */
.wishlist-page {
  padding: 20px;
  background-color: #181818;
  color: #fff;
}

.wishlist-movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

/* Font Awesome 하트 아이콘 */
.fa-heart {
  color: #ccc; /* 기본 회색 */
  transition: color 0.3s;
}

.fa-heart.fas {
  color: #ff4b5c; /* 찜한 영화는 빨간색 */
}

.movie-card:hover .fa-heart {
  color: #ff4b5c; /* 호버 시에도 빨간색 */
}

.logo-icon,
.profile-icon-style {
  font-size: 28px; /* 기본 크기 */
  cursor: pointer;
  transition: font-size 0.3s ease; /* 크기 변경 애니메이션 */
}

.logo-icon:hover,
.profile-icon-style:hover {
  font-size: 32px; /* 호버 시 크기 확대 */
}

/* 프로필 메뉴 */
.profile-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: rgb(68, 67, 67);
  border: 1px solid #000000;
  padding: 10px;
  width: 200px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}

.profile-username {
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
  font-size: 90%;
}


.logout-button {
  background-color: #ff4c4c;
  color: white;
  border: none;
  padding: 8px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
}

.logout-button:hover {
  background-color: #ff0000;
}


/* 모바일 스타일 */
@media (max-width: 768px) {
  /* 본문 배경 및 텍스트 크기 조정 */
  body {
    font-size: 14px; /* 텍스트 크기를 조금 줄임 */
  }

  .movie-poster {
    height: 45%;
  }

  /* 헤더 */
  .header {
    flex-direction: column; /* 헤더를 세로로 배치 */
    padding: 10px;
  }

  .header-container {
    align-items: flex-start;
    gap: 10px;
  }

  .logo {
    font-size: unset;
  }

  .nav-item {
    gap: 10px;
    font-size: 10px;
  }

  .nav-menu {
    gap: 10px;
  }

  /* 홈 콘텐츠 */
  .home-content {
    padding: 10px; /* 패딩 줄임 */
  }

  /* 영화 리스트 */
  .movie-list {
    padding: 0 10px;
  }

  .movie-list h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  /* 영화 그리드 */
  .movies-grid {
    gap: 10px; /* 카드 간 간격 줄임 */
  }

  .movie-card {
    width: 80px; /* 카드 크기 축소 */
    height: auto;
    border-radius: 6px; /* 둥근 모서리 축소 */
    margin-bottom: 5px;
  }

  .wishlist-movie-card {
    width: 80px; /* 카드 크기 축소 */
    height: auto;
    border-radius: 6px; /* 둥근 모서리 축소 */
    margin-bottom: 5px;
  }

  .movie-info {
    padding: 0.5rem; /* 내부 패딩 축소 */
  }

  .movie-title {
    font-size: 1rem; /* 제목 크기 축소 */
  }

  .wishlist-movie-title {
    font-size: 1rem;
  }

  .movie-overview {
    font-size: 0.8rem; /* 개요 텍스트 크기 축소 */
  }

  .movie-details,
  .movie-genres {
    font-size: 0.7rem; /* 세부 정보 텍스트 크기 축소 */
  }

  /* 화살표 */
  .arrow-btn {
    font-size: 1.5rem; /* 크기 줄임 */
    padding: 3px; /* 패딩 줄임 */
  }

  /* 찜하기 페이지 */
  .wishlist-page {
    padding: 10px;
  }

  .wishlist-movie-list {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); /* 카드 크기 축소 */
    gap: 10px;
  }

  /* 찜하기 버튼 */
  .wishlist-btn {
    font-size: 1rem; /* 버튼 크기 줄임 */
  }

  .profile-icon {
    font-size: unset;
  }

  .logo-icon,
  .profile-icon-style {
    font-size: 10px; /* 기본 크기 */
    cursor: pointer;
    transition: font-size 0.3s ease; /* 크기 변경 애니메이션 */
  }

  .logo-icon:hover,
  .profile-icon-style:hover {
    font-size: 14px; /* 호버 시 크기 확대 */
  }

    /* 프로필 메뉴 */
  .profile-menu {
    top: 20px;
    width: 100px;
  }

  
}